/* Styles pour les écrans de plus de 450px */
@media (min-width: 451px) {
	.articles {
	  width: 400px;
	  height: 420px;
	  margin: 10px;
	  padding: 10px;
	  border-radius: 10px;
	  border: 1px solid rgb(233, 190, 89);
	}
  }
  
  /* Styles pour les écrans de 450px et moins */
  @media (max-width: 450px) {
	.articles {
	  width: 250px;
	  height: auto; /* Adaptation de la hauteur pour le contenu */
	  margin: 10px auto; /* Centrage sur les petits écrans */
      padding: 5px;
	  border-radius: 10px;
	  border: 1px solid rgb(233, 190, 89);
	}
	.titleH3 {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2; 
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis; /* Ajoute des "..." à la fin */
	  }
  }
  
  .divider {
	width: 100%;
	height: 1px;
	background-color: rgb(233, 190, 89);
	margin: 15px 0;
  }
  
  .articleHeader {
	display: flex;
	justify-content: space-between;
	height: 40px;
  }
  
  .bookmarkIcon, .eye {
	transition: transform 0.3s;
	cursor: pointer;
	margin: 0 3px;
  }
  
  .bookmarkIcon:hover, .eye:hover {
	transform: scale(1.2);
	opacity: 0.6;
  }
  
  .description {
	display: -webkit-box;
	-webkit-line-clamp: 4; /* Limite à 4 lignes */
	line-clamp: 4; 
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis; /* Ajoute des "..." à la fin */
  }
  
  .articleLink {
	display: flex;
	justify-content: center;
	color: rgb(233, 190, 89);
	text-shadow: 1px 1px 0px rgb(134, 131, 131);
	text-decoration: none;
	font-weight: bold;
	font-size: 1.3rem;
	transition: transform 0.3s;
  }
  
  .articleLink:hover {
	transform: scale(1.2);
	text-decoration: underline;
	color: rgb(233, 190, 89);
  }
  