/* Styles par défaut pour les mobiles */
.topContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 20px 0;
  }
  .containerImage{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px; /* Ajuste selon le style souhaité */
	overflow: hidden; /* Coupe ce qui dépasse de la div */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
  .image {
	width: 100%; /* S'adapte à la largeur de l'écran */
	max-width: 300px; /* Limite maximale pour éviter les images trop grandes */
	height: auto; /* Maintient les proportions */
  }
  
  .topText {
	background-color: #fff;
	border-radius: 10px;
	border: 0.5px solid rgb(233, 190, 89);
	width: 90%; /* Prend presque toute la largeur de l'écran */
	text-align: center;
	padding: 15px;
	margin-top: -20px; /* Pour se superposer légèrement à l'image */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .bookmarkIcon {
	transition: transform 0.3s;
	cursor: pointer;
	margin: 5px;
  }
  
  .bookmarkIcon:hover {
	transform: scale(1.2);
	opacity: 0.6;
  }
  
  .articleLink {
	display: flex;
	justify-content: center;
	transition: transform 0.3s;
	color: rgb(233, 190, 89);
	text-shadow: 1px 1px 0px rgb(134, 131, 131);
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5rem;
  }
  
  .articleLink:hover {
	transform: scale(1.2);
	text-decoration: underline;
	color: rgb(233, 190, 89);
  }
  
  /* Styles pour les écrans plus larges que 450px */
  @media (min-width: 450px) {
	.topContainer {
	  flex-direction: row;
	  padding: 20px 0;
	}
  
	.image {
	  max-width: 700px;
	}
  
	.topText {
	  position: absolute;
	  width: 550px;
	  padding: 20px;
	  margin-top: 0;
	}
  }

  @media (min-width: 1000px) {

	.image {
	  max-width: 950px;
	}
  }
  